.SingleRoom-title{
    margin-top: 20px;
    text-align: center;
    color: rgb(241, 20, 237);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.SingleRoom-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
}

/* make SingleRoom responsive */
@media only screen and (max-width:576px) {
    .SingleRoom-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .SingleRoom-container{
        grid-template-columns: repeat(2, 1fr);
    }
}